:root {
  --bg-cta: #FAFAFA;
  --bg-footer: #4F553D;
  --black: #000;
  --black-add: #4D533C;
  --black-submit: rgba(33,56,66,0.6);
  --default-fz16: 16px;
  --fz14: 14px;
  --gray-link: #D4D6D4;
  --orange-link: #FFD723;
  --white: #fff;
  --white-link: #B6C197;
}