
// @import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');
// @import "../css/slider.css";
@font-face {
  font-family: Poppins;
  src: local("Poppins-Bold"), 
    local("Poppins Bold"),
    url("../fonts/Poppins/Poppins-Bold.eot") format("eot"),
    url("../fonts/Poppins/Poppins-Bold.woff") format("woff"), 
    url("../fonts/Poppins/Poppins-Bold.woff2") format("woff2"), 
    url("../fonts/Poppins/Poppins-Bold.ttf") format("ttf"), 
    url("../fonts/Poppins/Poppins-Bold.svg") format("svg"), 
    url("../fonts/Poppins/Poppins-Bold.otf") format("otf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Poppins;
  src: local("Poppins-SemiBold"), 
    local("Poppins SemiBold"),
    url("../fonts/Poppins/Poppins-SemiBold.eot") format("eot"),
    url("../fonts/Poppins/Poppins-SemiBold.woff") format("woff"), 
    url("../fonts/Poppins/Poppins-SemiBold.woff2") format("woff2"), 
    url("../fonts/Poppins/Poppins-SemiBold.ttf") format("ttf"), 
    url("../fonts/Poppins/Poppins-SemiBold.svg") format("svg"), 
    url("../fonts/Poppins/Poppins-SemiBold.otf") format("otf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Poppins;
  src: local("Poppins-Medium"), 
    local("Poppins Medium"),
    url("../fonts/Poppins/Poppins-Medium.eot") format("eot"),
    url("../fonts/Poppins/Poppins-Medium.woff") format("woff"), 
    url("../fonts/Poppins/Poppins-Medium.woff2") format("woff2"), 
    url("../fonts/Poppins/Poppins-Medium.ttf") format("ttf"), 
    url("../fonts/Poppins/Poppins-Medium.svg") format("svg"), 
    url("../fonts/Poppins/Poppins-Medium.otf") format("otf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Poppins;
  src: local("Poppins-Regular"), 
    local("Poppins Regular"),
    url("../fonts/Poppins/Poppins-Regular.eot") format("eot"),
    url("../fonts/Poppins/Poppins-Regular.woff") format("woff"), 
    url("../fonts/Poppins/Poppins-Regular.woff2") format("woff2"), 
    url("../fonts/Poppins/Poppins-Regular.ttf") format("ttf"), 
    url("../fonts/Poppins/Poppins-Regular.svg") format("svg"), 
    url("../fonts/Poppins/Poppins-Regular.otf") format("otf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Poppins;
  src: local("Poppins-Italic"), 
    local("Poppins Italic"),
    url("../fonts/Poppins/Poppins-Italic.eot") format("eot"),
    url("../fonts/Poppins/Poppins-Italic.woff") format("woff"), 
    url("../fonts/Poppins/PoppiItalic.woff2") format("woff2"), 
    url("../fonts/Poppins/Poppins-Italic.ttf") format("ttf"), 
    url("../fonts/Poppins/Poppins-Italic.svg") format("svg"), 
    url("../fonts/Poppins/PoppiItalic.otf") format("otf");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: Mixed;
  // src: url("https://fontsforyou.com/fonts/m/Mixed.ttf");
  src: local("Mixed"), 
    url("../fonts/Mixed/Mixed.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
}

@import "./base/base";
@import "./base/null_styles";
@import "./base/var";

@import "./blocks/burger-btn";
@import "./blocks/clients";
@import "./blocks/cta";
@import "./blocks/group";
@import "./blocks/header";
@import "./blocks/heading";
@import "./blocks/link-block";
@import "./blocks/logo";
@import "./blocks/menu";
@import "./blocks/swiper";

@import "./sections/about";
@import "./sections/analysis";
@import "./sections/footer";
@import "./sections/hero";
@import "./sections/services";
// @import "./sections/slider";
@import "./sections/works";