.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  padding-top: 16px;
  min-height: 43px;

  @media (max-width:1199px) {
    padding-top: 20px;
  }
  
  &__container {

    // @media (min-width:768px) {
    //   column-gap: 100px;
    // }

    @media (min-width:992px) {
      display: flex;
      align-items: center;
      column-gap: 200px;
    }

    @media (min-width:1200px) {
      column-gap: 250px;
    }
  }

  .logo__img {
    display: flex;

    &--triangle {
      margin-right: 10px;
    }

    & img {
      @media (max-width:1199px) {
        height: 25px;
      }
  
      @media (max-width:991px) {
        height: 20px;
      }
    } 
  }
}



