.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  padding-top: 12px;
  min-height: 42px;

  @media (min-width: 576px) {
    padding-top: 16px;
  }

  @media (min-width: 768px) {
    padding-top: 20px;
  }

  @media (min-width: 992px) {
    padding-top: 30px;
  }
  
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (min-width: 420px) {
      padding-left: 15px;
    }

    @media (min-width:992px) {
      justify-content: flex-start;
      column-gap: 50px;
    }

    @media (min-width:1200px) {
      column-gap: 100px;
    }
  }
}

.logo {

  &__img {

    width: 90px;
  
    @media (min-width: 576px) {
      width: 150px;
    }
  
    @media (min-width: 992px) {
      width: 250px;
    }
  }  
}