.services {

  padding: 20px 0;

  @media(min-width: 1440px) {
    padding: 244px 0 20px;

    &__row {
      display: flex;
      justify-content: space-between;
    }
  
    &__text {
      max-width: 440px;
      padding-right: 5px;
    }
  
    &__pretitle {
      margin-bottom: 24px;
    }
    
    &__title {
      margin-bottom: 36px;
    }
  
    &__subtitle {
      margin-bottom: 40px;
      color: #213842;
    }
  
    &__group {
      max-width: 474px;
      padding: 0 42px;
    }
  }

}