.services {
  padding: 16px 0 0;
  
  &__container {
    padding-bottom: 32px;
    border-bottom: 1px solid rgba(33, 56, 66, 0.1);
  }

  &__text {
    margin-bottom: 20px;
  }

  &__pretitle {
    margin-bottom: 8px;
  }

  &__title {
    margin-bottom: 12px;
    text-align: center;
  }

  &__subtitle {
    margin-bottom: 16px;
    color: rgba(33,56,66, 0.6); 
  }

  @media (min-width: 576px) {
    padding: 28px 0 0;  

    &__text {
      margin-bottom: 28px;      
    }

    &__pretitle {
      margin-bottom: 12px;
    }

    &__title {
      margin-bottom: 20px;
      text-align: center;
    }

    &__subtitle {
      margin-bottom: 20px;
    }
  }

  @media (min-width: 768px) {

    &__text {
      margin-bottom: 40px;
    }

    &__pretitle {
      margin-bottom: 20px;
    }

    &__title {
      margin-bottom: 16px;
      text-align: center;
    }

    &__subtitle {
      margin-bottom: 24px;
    }
  }

  @media (min-width: 992px) {
    
    &__row {
      display: flex;
      justify-content: space-between;
    }

    &__text {
      width: 440px;
      padding: 150px 5px 0 0;

    }

    &__pretitle {
      margin-bottom: 24px;
    }
    
    &__title {
      margin-bottom: 32px;
      text-align: left;
    }
  
    &__subtitle {
      margin-bottom: 36px;
    }
  }

  @media (min-width: 1200px) {

    &__text {
      width: 460px;
      padding: 150px 5px 0 0;

    }

    &__pretitle {
      margin-bottom: 24px;
    }
    
    &__title {
      margin-bottom: 36px;
    }
  
    &__subtitle {
      margin-bottom: 50px;
    }
  }

  @media(min-width: 1440px) {
    padding: 0;
    
    &__container {
      padding-bottom: 150px;
    }

    &__row {
      display: flex;
    }
  
    &__text {
      flex-grow: 1;
      max-width: 500px;
      padding: 244px 5px 0 0;
      margin-bottom: 0;
    }
  
    &__pretitle {
      margin-bottom: 28px;
    }
    
    &__title {
      margin-bottom: 36px;
    }
  
    &__subtitle {
      width: 475px;
      margin-bottom: 40px;
    }
  }

  &__group {

    @media (min-width: 768px) {
      padding: 20px 30px 0;
    }

    @media (min-width: 992px) {
      padding: 150px 10px 0;
    }
    
    @media (min-width: 1440px) {
      padding: 244px 8px 60px 40px;
      max-width: 474px;
    }
  }
}