.slider {
  color: var(--white);

  &__container {
    position: relative;
    // padding: 5px 5px 5px 15px;
  }

  &__body {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    max-width: 570px;
    padding: 5px 15px 15px;
    // @include adaptive-font(36, 24);

    @media (min-width:992px) {
      top: 160px;
    }
  }

  &__title {
    margin: 22px 0 24px; 
    // @include adaptive-font(60, 32);   
  }

  &__subtitle {margin-bottom: 32px;}
}