.works {
  
  @media (min-width: 1440px) {
    padding: 170px 0 170px;
  }

  &__heading {
    display: flex;
    // justify-content: flex-start;
    // align-items: center;
    column-gap: 8rem;
    margin-bottom: 104px;
  }
  &__title {
    width: 325px;
  }
  &__subtitle {
    @media (min-width: 1440px) {
      width: 518px;
      padding: 12px 0 0;    
    }
  }

  &__group-small {
    @media (min-width: 1440px) {
      padding: 30px 33px 30px 30px;
    }
  }
}