.burger {
  position: relative;
  background-color: #F5F6F7;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  top: -4px;

  @media (min-width: 576px) {
    width: 30px;
    height: 30px;
  }

  @media (min-width: 768px) {
    width: 40px;
    height: 40px;
  }

  @media(min-width: 992px) {
    opacity: 0;
    visibility: hidden;
    width: 0px;
    height: 0px;    
    left: -1000%;
    background: transparent;
    font-size: 0;
  }

  &__btn {
    position: absolute;
    width: 10px;
    height: 8px;
    top: 6px;
    right: 5px;
    z-index: 1;

    @media (min-width: 576px) {
      width: 20px;
      height: 14px;
      right: 5px;
      top: 9px;
    }

    @media (min-width: 768px) {
      width: 25px;
      height: 18px;
      right: 7px;
      top: 11px;
    }
  
    & span,
    &::before,
    &::after {
      position: absolute;
      width: 100%;
      height: 20%;
      background-color: #000;
      transition: all .3s ease 0s;
    }
  
    &::before,
    &::after {content: "";}
    &::before {top: 0;}
    &::after {bottom: 0;}
    & span {
      top: 50%;
      transform: translate(0px, -50%);
    }
  
    &._active span {transform: scale(0) translate(0px, -50%);}
    &._active::before,
    &._active::after {
      top: 50%;
      height: 25%;
    }
  
    &._active::before {transform: rotate(-45deg) translate(3px, -50%);}
    &._active::after {transform: rotate(45deg) translate(-3px, -50%);}
  }
}