.card {
  position: relative;
  display: flex;

  @media (min-width: 1440px) {

    &__heading {
      width: 50%;
      padding: 5rem 12rem 1rem 5.5rem;
    } 
    
    &__title {
      margin-bottom: 2rem;
    }

    &__subtitle {
      margin-bottom: 5.5rem;
    }

    &__group {
      position: absolute;
      max-width: 453px;
      padding: 30px 33px 30px 30px;

      bottom: -12%;
      left: 22.5%;
      // box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1459);

    }
  } 
    
    // position: absolute;
    // top: 0;
    // left: 0;
    // height: 100%;
    // display: block;
    // flex: 1 1 auto;
    
    // & > img {
      // height: 100px;
      // width: 100px;
      // object-fit: contain;
    // }
}