.group-big {
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1459);

  &__text {
    padding: 0 25px 0;
    margin-bottom: 20px;
    font-size: 16px;
    font-style: italic;
    line-height: 1.6;
    color: var(--black-add);
  }

  &__image > img {
    border-radius: 50%;
    box-shadow: 20px 10px 30px 0px rgba(0, 0, 0, 0.1459);
  }
  
  &__footer {
    display: flex;
    column-gap: 20px;
    align-items: center;
    background-color: var(--white);
  }

  &__copyright {
    margin: 16px 0 0 -14px;
  }

  &__author {
    line-height: 1;
    font-size: 14px;
    font-weight: 700;
  }

  &__position {
    font-size: 11px;
    line-height: calc(24 / 16);
  } 

  @media (min-width: 768px) {
    // &__text {
    //   padding: 0 8px 0 24px;
    //   margin-bottom: 32px;
    //   font-size: 24px;
    //   font-style: italic;
    //   line-height: calc(40 / 24);
    //   color: var(--black-add);
    // }

    // &__footer {
    //   display: flex;
    // }
  }

  @media (min-width: 992px) {
    box-shadow: 0px 100px 100px 0px rgba(0, 0, 0, 14.59%);
    max-width: 375px;

    &__text {
      padding: 0 30px 0;
      font-size: 20px;
      margin-bottom: 36px;
    }

    &__copyright {
      margin: 36px 0 0 -40px;
    }

    &__author {
      margin-bottom: 15px;
      font-size: 18px;
    }

    &__position {
      font-size: 14px;
    }
  }

  @media (min-width: 1200px) {
    max-width: 416px;

    &__text {
      padding: 0 20px 0;

      font-size: 22px;
    }

    &__footer {
      display: flex;
    }

    &__author {
      font-size: 20px;
    }

    &__position {
      font-size: var(--default-fz16);
    }
  }

  @media (min-width: 1440px) {

    &__text {
      padding: 0;
      margin-bottom: 50px;
      font-size: 24px;
      line-height: calc(40 / 24);
    }

    &__copyright {
      margin: 0;
    }

    &__author {
      margin-bottom: 16px;
      font-size: 22px;
    }

    &__position {
      font-size: var(--default-fz16);
    }    
  }
}

.group-small {
  border-radius: 8px;
  background-color: var(--white);
  box-shadow: 50px 50px 100px 0px rgba(0, 0, 0, 0.1459);

  &__text {
    color: var(--black-add);
  }

  &__footer {
    column-gap: 20px;
    align-items: center;
  }

  &__image > img {
    border-radius: 50%;
    box-shadow: 20px 10px 30px 0px rgba(0, 0, 0, 0.1459);
  }

  &__author {
    line-height: 1;
    font-weight: 700;
  }

  @media (min-width: 1440px) {
    
    &__text {
      margin-bottom: 24px;
      font-size: var(--default-fz16);
      font-style: italic;
      line-height: calc(26 / 16);
    }

    &__footer {
      display: flex;
      background-color: var(--white);
    }

    &__copyright {
      // margin: 32px 0 0 -40px;
    }

    &__author {
      margin-bottom: 8px;
      font-size: var(--default-fz16);
    }

    &__position {
      font-size: 14px;
    }
  }
} 