.link-block {
  position: relative;
  display: block;
  padding-left: 10px;
  color: var(--gray-link);

  &::before {
    content: "";
    position: absolute;
    top: 46%;
    left: 0;
    transform: translateY(-50%);
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid var(--gray-link);
  }

  &:hover {
    color: var(--orange-link);

    &::before {
      border-left-color: var(--orange-link);
    }
  }
}