.swiper {

  &-wrapper {
    box-sizing: content-box;
  }
          // left arrow and right arrow:
  &-button-prev, &-button-next {
    color: var(--white);
    width: 100px;
    height: 100px;
  }

  &-button-prev {
    left: 0;
  }

  &-button-next {
    right: 0;
  }

  &-button-next:after, &-button-prev:after {
    font-size: 80px;
  }
}
          // bullets:
.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  width: 30px;
  height: 30px;
  margin: 0 10px 20px;
  background-color: transparent;
  border-radius: 0;
  border: 3px solid var(--white);
  opacity: 1;

  &-active {background-color: #449A5D;}

  @media (min-width: 992px) {display: none;}
}