html,
body {  
  height: 100%;
  min-width: 320px;
  font: var(--default-fz16)/calc(26 / 16) regular normal Poppins, sans-serif; 
  color: var(--black);  
}

.wrapper {
  position: relative;
  min-height: 100%;
  overflow: hidden;

  display: flex;
  flex-direction: column;
}

.page {
  flex:1 1 auto;
}

.container {
  margin: 0px auto;
  padding: 0 15px;
  // box-sizing: content-box;

  @media (min-width:576px) {
    max-width: 540px;
  }

  @media (min-width:768px) {
    max-width: 720px;
  }

  @media (min-width:992px) {
    max-width:890px;
  }

  @media (min-width:1200px) {
    // max-width: 1140px;
    max-width: 1020px;
  }

  @media (min-width:1440px) {
    max-width: 1140px;
  }
  @media (min-width:1920px) {
    max-width: 1200px;
  }
}

p.maintext {
  font-size: var(--default-fz16);
  font-weight: 400;
  color: var(--black)
}

// .pretitle {
//   font-size: var(--fz14);
//   font-weight: 400;
// }

// .visible-md {
//   @media (max-width: 767px) {
//     display: none;
//   }
// }

.visible-xss,
.visible-xs,
.visible-sm,
.visible-md,
.visible-lg {display: none !important;}

@media (max-width: 991px) {
  .visible-xss {display: block !important;}
  // .hidden-xss {display: none !important;}
}

@media (min-width: 992px) {
  .visible-xss {display: none !important;}
  .visible-lg {display: block !important;}
}

// @media (min-width: 768px) and (max-width: 991px) {
//   .visible-sm {
//     display: block !important;
//     @media (max-width: 767px) {
//       display: none !important;
//     }
//   }
// }

.none {display: none !important;}

// .subtitle-white {color: var(--white);}

// p {
//   margin: 0 0 12px;
//   line-height: calc(22 / 14);

//   @media (min-width:768px) {
//     font-size: 16px;
//     line-height: calc(28 / 16);
//   }
// }

// p:last-child {margin: 0;}

// .grid > * {
//   min-width: 0px;
//   margin: 0px auto;
// }

// .hidden {display: none;}
// .hide {
//   opacity: 1;
//   animation-name: a1;
//   animation-duration: 2s;
//   animation-fill-mode: forwards;  
// }
// @keyframes a1 {
//   to {
//     opacity: 0;
//     min-height: 0;
//     min-width: 0;
//     margin: 0;
//     padding: 0;
//     border: 0;
//   } 
// }

// .ibg {
//   position: relative;
  
//   & img {
//     position: absolute;
//     width: 100%;
//     height: 100%;
//     top: 0;
//     left: 0;
//     object-fit: cover;
//   }
// }